$blue: #1890ff;
$green: #52c41a;
$red: #f5222d;

$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);
$Background: #ebeef3;
$primary-color: $blue;
$info-color: $blue;
$success-color: $green;
$error-color: $red;
$highlight-color: $red;
$background-color-base: #ffffff;

$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-H6: 18px;
$font-size-H5: 20px;
